<!-- begin footer -->
<footer class="footer">

  <div class="container">
        <div class="footer__inner">
            <div class="row">
              <div class="col col-4 col-d-12">
                <div class="footer__nav">
                  <ul class="footer__nav-list list-reset">
                    {% for item in site.data.settings.footer_menu__settings.menu__items %}
                    <li class="footer__nav-item">
                      <a href="{{ item.url | relative_url }}" class="footer__nav-link">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col col-4 col-d-12">
                <div class="footer__nav">
                  <ul class="footer__nav-list list-reset">
                    {% for item in site.data.settings.footer_contact__settings.menu__items %}
                    <li class="footer__nav-item">
                      <a href="{{ item.url | relative_url }}" class="footer__nav-link">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                  {% if site.data.settings.social %}
                  <div class="social">
                    <ul class="social__list list-reset">
                      {% for social in site.data.settings.social %}
                      <li class="social__item">
                        <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener"
                           aria-label="Social link"><i class="ion {{social.icon}}"></i></a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
  </div>


</footer>
<!-- end footer -->