// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 8px;

// Transition
$global-transition: all .35s;


// *****************
// Typography
// *****************
$base-font-size: 16px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Roboto Slab', Arial, sans-serif;
$base-line-height: 1.7;

// Headings
$heading-font-weight: 800;
$heading-font-family: 'Libre Franklin', Arial, sans-serif;
// $heading-font-weight: light;
$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  20px;
$font-size-h6:  20px;

$heading-line-height: 1.3;
$heading-letter-spacing: normal;